
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* ----------------- Navbar section ----------------- */

.navbar {
  margin-bottom: 0;
  border: 0;
  position: absolute;
  width: 100%;
}
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-light .navbar-nav{
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
  letter-spacing: 1px;
}

.nav-link {
  font-weight: bold;
  padding: .3rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}


/* ----------------- Navbar Services section ----------------- */
.navbar-services{
  color: #fff;
  background: #358fe9;
}


/* ----------------- Banner section ----------------- */

.banner {
  height: 100vh;
  background: url("../images/background.jpg") no-repeat bottom center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 1px 1px;
  display: flex;
  align-items: center;
  position: static;
  background-size: 100% 100%;
  overflow: hidden; 
}

.banner .block-divider{
  color: #fff;
  border: 0.5px solid #d82e18;
}

.banner-button{
  padding: 10px;
  width: 130px;
  display: inline-block;
  background: #fff;
  text-decoration: none;
  color: rgb(216, 46, 24);
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 25px;
  font-weight: bold;
  font-size: 15px;
  transition: .9s;
}

.banner a:hover{
  background-color: rgba(39, 135, 231, 0.937);
  box-shadow: 0vh 0vh 3vh 3vh rgba(255, 255, 255, 0.986);
  color: #fff
}


.my-jumbotron {
  background-color: transparent;
  color: #fff;
  margin-bottom: 70px;
}

.my-jumbotron-header {
  color: white;
  font-family: 'Raleway' sans-serif;
  font-size: 30px; 
  font-weight: bold;
}

.lead {
  margin: 10px 0;
  color: #fff;
}



/* ----------------- About section ----------------- */

.about-img{
  background: url("../images/passionnewnew.jpg") no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000305ef;
  padding: 150px;
}

.title{
  text-align: center;
  font-size: 40px;
  padding: 30px;
}

.title strong{
  color: #2888e7;
}

.fa-hand-point-down {
  font-size: 30px;
}

.sub-title{
  text-align: center;
  /*margin-bottom: 10px;*/
  font-size: 18px;
}

.about-section{
  padding: 20px 20px;
}

.about-section img{
  padding-bottom: 5px;
}

.about-div {
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

.about-div h5{
  margin-bottom: 20px;
  font-family: 'Chilanka', cursive;
  font-size: 25px;
  font-weight: bold;
  color: #2888e7;
}

.about-div p{
  font-size: 15px;
  color: #fff;
}

.about-div:hover {
  transform: scale(1.15);
  background: hsla(210, 80%, 53%, 0.937);
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 20px 20px 2px rgba(18, 134, 243,0.5);
  transition: .9s;
}

.about-div:hover h5{
  color: #fff;
}


/* ----------------- Quotes section ----------------- */

/* Code of quote section below is creddited to : https://codepen.io/webdevtutorials/pen/PoZGGqO */
.quotes h2 {
	color: #010911;
	text-align: center;
  font-family: 'Poppins', sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
.quotes h2::after {
	content: "";
	width: 140px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #d82e18;;
	left: 0;
	right: 0;
	bottom: -10px;
  opacity: .8;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel-item {
	color: #999;
	font-size: 14px;
  text-align: center;
	overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview strong {
	text-transform: uppercase;
	color: #d82e18;;
}
.carousel .carousel-control {
	width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
	background: none;
}
.carousel-control i {
  font-size: 35px;
	line-height: 50px;
  position: absolute;
  display: inline-block;
	color: rgba(54, 81, 202, 0.8);
  text-shadow: 0px 0px 5px #2888e7, 0px 0px 5px #2888e7;
}

.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}


/* ----------------- Services section ----------------- */

.services-img {
  height: 100vh;
  background: url("../images/team_meeting.jpg.jpg") no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 1px 1px;
  display: flex;
  position: static;
  background-size:cover;
  overflow: hidden; 
}

.services-title{
  color: #fff;
  justify-content: center;
}


/* ----------------- say something (contact form) section ----------------- */

.modal-header{
  text-align: center;
  color: #2888e7;
}

.modal-subheading{
  text-align: center;
  padding-bottom: 50px;
  color: #2888e7;
}

.contact-label{
  text-align: center;
  border: 1px solid #2888e7;
  border-radius: 8px;
}

.contact-label label{
  display: block;
  text-align: left;
  color: #333;
  font-size: 14px;
}

.contact-label input,.contact-label textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.button-send{
  display: block;
  background: #2888e7;
  padding: 14px 0;
  color: white;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}




/* ----------------- Card Services Section ----------------- */
.card-deck{
  text-align: center;
  justify-content: center;
  padding: 15rem ;
}

/* ----------------- Footer ----------------- */

footer {
  margin-top: 100px;
  position: absolute;
}

.social-links {
  margin: 20px;
  padding: 10px;
  align-self: center;
}

.social-links i {
  color: rgb(39, 135, 231);
  background-color: #fcfcfc;
  font-size: 2.5rem;
  letter-spacing: 0;
  border-radius: 60%;
  padding: 10px;
  margin: 0 10px;
}

.social-links i:hover {
  background-color: rgba(45, 142, 238, 0.938);
  color: #fcfcfc;
  transition: 0.60s ease-in-out;
}