html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

/* ----------------- Navbar section ----------------- */

.navbar {
  margin-bottom: 0;
  background: #6dc9ee5b
}

.navbar-light .navbar-brand {
  color: #fff;
  font-family: 'Rock Salt', sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav{
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: right;
  letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bold; 
  padding: .5rem 0.5rem;
  letter-spacing: 1px;
  display: block;
  color: #000000a9;
}

.navbar-light .navbar-toggler {
  background: #ffffff9a;
  padding: 0.6em 0.6em;
  border-radius: 50px;
  outline:none
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

/* ----------------- say something (contact form) section ----------------- */
.modal-body h2{
  text-align-last: center; 
  color: #d82e18;
}

.modal-header {
  display: flex;
  text-align: right;
  border-bottom: none
}

.btn-header{
  background: #d82e18;
  color: #fff;
  border: 1px solid #d82e18;
  font-size: 0.9em;
  font-weight: 500;
}

.btn-header:hover{
  background: #2888e7;
  color: #fff;
  text-decoration: none;
  border: none;
  transition: .3s ease-in;
  transform: scale(1.05);
}

.modal-heading{
  text-align: center;
  padding-bottom: 2em;
  color: #2888e7;
}

.contact-label{
  text-align: center;
  border: 1px solid #2888e7;
  padding: 12px 18px;
  border-radius: 8px;
}

.contact-label label{
  display: block;
  text-align: left;
  color: #333;
  font-size: 14px;
}

.contact-label input,.contact-label textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.contact-label i{
  font-size: 30px;
  color: #2888e7;
}

.button-send{
  display: block;
  text-decoration: none;
  background: #d82e18;
  padding: 1em 0;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.button-send:hover{
  background: #2888e7;
  color: #fff;
  text-decoration: none;
  transition: .4s ease-in;
  transform: scale(1.04);
}

.btn-secondary{
  background: #d82e18;
  color: #fff;
  border: 1px solid #d82e18;
  border-radius: 20px;
  padding: 0.5em 1em;
}

.btn-secondary:hover{
background: #2888e7;
border: #2888e7;
transition: .5s ease-in;
transform: scale(1.1);
}

/* ----------------- Banner section ----------------- */

.banner {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 100vh; 
}

.banner-section {
  background-color: transparent;
  color: #fff;
  margin-bottom: 4em;
}

.banner-section h1{
  color: #fff;
  font-size: 2em; 
  font-weight: bold;
}

.banner-p {
  font-size: 1.3em;
  margin: 10px 0;
  color: #fff;
}

.banner .block-divider{
  border: 0.5px solid #d82e18;
}

.banner-button{
  padding: 0.5em 0.5em;
  display: inline-block;
  background: #fff;
  text-decoration: none;
  color: #d82e18;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 25px;
  font-weight: bold;
  font-size: 1em;
  transition: .9s;
}

.banner a:hover{
  background-color: rgba(39, 135, 231, 0.937);
  box-shadow: 0 0 3vh 3vh rgba(255, 255, 255, 0.986);
  color: #fff
}

/* ----------------- About section ----------------- */

.title-section {
  text-align: center;
  padding-top: 3em;
}

.title{
  font-size: 40px;
  padding: 30px;
}

.title strong{
  color: #2888e7;
}

.sub-title{
  font-family: 'Chilanka';
  font-size: 18px;
  font-weight: 700;
}

.about-section{
  padding: 20px 20px;
}

.about-section img{
  padding-bottom: 5px;
}

.about-div {
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  border: 1.5px ridge #2888e7;
  border-top: 0;
  border-bottom: 0;
  border-radius: 30px;
  height: 22em
}

.about-div h5{
  margin-bottom: 20px;
  font-family: 'Chilanka', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #2888e7;
}

.about-div:hover h5{
  color: #fff;
}

.about-div i{
  font-size: 1.5rem;
  padding: 10px;
}

.about-div p{
  font-size: 15px;
  color: #fff;
}

.about-div:hover {
  transform: scale(1.08);
  background: hsla(210, 80%, 53%, 0.937);
  border-radius: 50px;
  color: #fff;
  box-shadow: 0 20px 20px 2px rgba(18, 134, 243,0.5);
  transition: .9s;
}
/* ----------------- Services section ----------------- */
/* The look was inspired by Going-To Internet's way of styling the boxes. https://www.youtube.com/watch?v=maeDgHcK_Os */

.services{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.services-heading{
  text-align: center;
  padding-top: 3em;
}

.services-heading h1{
  font-family: 'Rock Salt', cursive;
  color: #2888e7;
  font-size: 4.5rem;
  letter-spacing: 3px;
  margin: 15px;
}

.services-heading p{
  color: #6f7072;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 5px;
  text-align: center;
}

.services-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-box img{
  height: 75px;
}

.services-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 300px;
  height: 550px;
  padding: 20px 25px;
  box-sizing: border-box;
  margin: 30px;
  position: relative;
}

.services-box h2{
  font-family: 'Chilanka', sans-serif;
  color: #2888e7;
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 8px;
}

.services-box p{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #6f7072;
}

.services-box:hover{
  box-shadow: 2px 2px 30px rgba(39, 135, 231, 0.937);
  transition: all ease-in-out 0.6s;
}

.services-bar{
  width: 100px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  background-color: #2888e7;
  border-radius: 0 0 10px 10px;
  display: none;
  animation: bar 0.9s;
}

.fees{
  text-align: center;
  font-weight: 400;
  padding-bottom: 2em;
}

.fees i{
  font-size: 1.2em;
}

.services-box:hover .services-bar{
  display: block;
}

@keyframes bar{
  0%{
    width: 0px;
  }
  100%{
    width: 100px;
  }
}

/* ----------------- Testimonials section ----------------- */
/* The Testemonials look was inspired by DarkCode's design. https://www.youtube.com/watch?v=zkyIVFoLxgY */

.testimonials{
  text-align: center;
  font-weight: 300;
  padding: 40px 0;
  background: #699ab625;
  color: #2888e7;
}

.test-border{
  width: 160px;
  height: 5px;
  background: #2888e7;
  margin: 26px auto;
}

.test-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.test-col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 20px;
}

.testimonial{
  background: #fff;
  padding: 30px;
}

.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimonial h1{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 20px 0;
}

.testimonial i{
  color: #e6e943;
  margin-bottom: 20px;
}

.testimonial span{
  font-weight: 400;
  font-size: 0.9rem;
}

/* ----------------- Contact us ----------------- */
.contact-us{
  text-align: center;
  padding: 5em;
}

.contact-box {
  border: 2px ridge #6dc9ee;
  border-top: 0;
  border-bottom: 0;
  border-radius: 30px;
  padding: 50px 0;
}

.contact-box:hover{
  box-shadow: 2px 2px 30px #6dc9ee;
  transition: all ease-in-out 0.6s;
}

.contact-us-title h2{
  font-size: 2.5em;
  font-family: 'Chilanka', sans-serif;
}

.contact-us-title i{
  color: #6dc9ee;
}

.contact-us-p{
  font-size: 15px;
  padding: 2em;
}

.btn-contact{
  background: #6dc9ee;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  border-radius: 50px;
}

.btn-contact:hover{
  color: #fff;
}

/* ----------------- Footer ----------------- */

.social-links {
  margin: 10px;
  align-self: center;
}

.social-links i {
  color: rgb(39, 135, 231);
  background-color: #fcfcfc;
  font-size: 2.3rem;
  border-radius: 65%;
  padding: 10px;
  margin: 0 10px;
}

.social-links i:hover {
  background-color: rgba(45, 142, 238, 0.938);
  color: #fcfcfc;
  transition: 0.60s ease-in-out;
}

/* ----------------- Media Queries ----------------- */

@media screen and (max-width:1024px){

  .navbar-toggler{
    font-size: 15px;
  }

  .nav-link{
    padding-top: 1rem;
  }

  .navbar-link{
    font-size: 2em;
    padding-top: 5px;
  }

  .navbar-light .navbar-brand {
    font-size: 30px;
  }

  .banner{
    background: url(../images/background-mobile.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    justify-content: center;
    font-size: 1em;
    padding-top: 350px;
  }

  .banner-section h1{
    color: #fff;
    text-shadow: 2px 1px 2px black;
  }

  .banner-p {
    font-size: 1.3em;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 2px black;
  }

  .banner-button{
    display: block;
  }

  .about-div p{
    display: grid;
  }

  .test-col{
    flex: 100%;
    max-width: 80%;
  }

  .services{
    height: auto;
  }

  .services-heading h1{
    font-size: 3em;
    padding-top: 100px
  }

  .services-heading p{
    font-weight: 500;
  }

  .services-container{
    flex-wrap: wrap;
  }

  .services-box{
    flex-grow: 1;
  }

  .services-box h2{
    font-size: 1.3em;
  }
  
  .services-box p{
    font-size: 1em;
  } 

  .social-links i{
    font-size: 2rem;
    border-radius: 65%;
    padding: 10px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .about-div {
    height: 30em
  }
}

@media screen and (max-width:640px) {

  .navbar-light .navbar-brand {
    font-size: 1.5em;
  }

  .test-col{
    flex: 100%;
    max-width: 100%;
  }

  .modal-body h2{
    font-size: 1.5em;
  }

  .services-box{
    padding-top: 5em;
  }

  .fees i{
    display: none;
  }
  
  .contact-us{
    padding: 1em;
  }
  
  .contact-box {
    border: none;
  }
  
  .contact-us-title h2{
    font-size: 1.8em;
  }
  
  .contact-us-p{
    font-size: 1rem;
    padding: 2em;
  }
}

@media screen and (max-width:320px){

  .banner{
     padding-top: 350px;
     padding-bottom: 20px;
  }

  .banner-section h1{
    font-size: 1.5em;
  }

  .banner-p{
    font-size: 1.2em;
  }

  .services-heading h1{
    padding-top: 50px;
  }

  .services-box{
    height: 600px;
  }

  .services-box h2{
    font-size: 1.2em;
    font-weight: 900;
  }

  .services-box p{
    font-size: 0.9em;
  }

  .contact-us-title h2{
    font-size: 1.5em;
  }

  .contact-us-p{
    font-size: 0.8rem;
    padding: 1em;
  }
 }
